<div id="container">
    <h3>Lista de Bonos Registrados</h3>
    <table>
        <thead>
            <tr>
                <th>Valor nominal (S/.)</th>
                <th>Fecha de emisión</th>
                <th>Número de años</th>
                <th>Tasa de Interés (%)</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bono of bonoFiltrado; let i=index">
                <td>{{ bono.valorNominal | number }}</td>
                <td>{{ bono.fechaEmision | date : 'dd/MM/yy': 'GMT+5:00'}}</td>
                <td>{{ bono.numAnos}}</td>
                <td>{{ bono.tasaInteres }}</td>
                <td><a (click)="visualizar(bono.id)"><mat-icon aria-hidden="false">search</mat-icon></a></td>
                <td><mat-icon aria-hidden="false" (click)="eliminar(bono.id, i)">delete</mat-icon></td>
            </tr>
        </tbody>
    </table>
</div>