#container {
    margin: auto;
    width: 800px;
    text-align: center;
}

table {
    width: 100%;
    background-color: #F8ECD6;
    border-collapse: collapse;
    
}

th, td {
    padding: 15px;
}

thead {
    background-color: #BD7B00;
    border-bottom: 5px solid #A46C03;
    color: white
}

tr:nth-child(even) {
    background-color: #E4D9C5;
}

mat-icon:hover {
    cursor: pointer;
}

h3 {
    color: black;
    font-family: 'Crete Round', serif;
    font-size: 45px;
    font-weight: bold;
}