<div class="fondo">
    <div class="contenedor">
        <div>
            <h3>Operaciones</h3>
        </div>
        <div class="flex">
            <div>
                <div class="titulo">Bono</div>
                <button class="item" (click)="bono()"><span class="material-icons">post_add</span></button>
            </div>
            <div>
                <div class="titulo">Historial</div>
                <button class="item" (click)="historial()"><span class="material-icons md-18">ballot</span></button>
            </div>
        </div>
    </div>
</div>
