<form class="form-login" autocomplete="off">
    <h2>FINANCE APP</h2>
    <h3>Iniciar Sesión</h3>
    <!-- Campo correo -->
    <div>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="email@hotmail.com"/>
        </mat-form-field>
    </div>
    <!-- Campo contraseña -->
    <div>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="password"/>
        </mat-form-field>
    </div>
    <div>
        <button mat-button color="primary" type="submit" (click)="iniciar()">Iniciar sesión</button>
    </div>
    <div>
        <button mat-button type="submit" color="primary" (click)="registrarme()">Registrarme</button>
    </div>


</form>
