/* Fondo */
.contenedor {
  width: 100%;
  height: 100%;
  background-image: url('https://img.freepik.com/foto-gratis/fondo-textura-lona-papel-blanco-diseno-fondo-o-diseno-superposicion_1962-68.jpg?w=900');
  background-repeat: no-repeat;
  background-size: 100%;
}

/* Formulario */
.form-login {
    width: 550px;
    height: 420px;
    background: #fff;
    margin: auto;
    box-shadow: 1px 1px 12px #000;
    padding: 20px 30px;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

.form-login h2 {
    color: black;
    font-family: 'Patua One', cursive;
    font-size: 50px;
    font-weight: bold;
  }

.form-login h3 {
    font-size: 20px;
    padding: 3px;
  }

.form-login .field {
    margin-top: 7px;
    width: 300px;
    border: 2px solid rgb(255, 195, 77);
    border-radius: 10px;
    display: block;
    text-align: center;
    margin: 10px 100px;
  }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: black !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: black !important;;
  }

.form-login mat-form-field {
  width: inherit;
  padding: 0 10px;
}

.form-login mat-label {
  color: black;
}

.form-login mat-input {
  color: #000;
}

.form-login .button {
    margin: 7px;
    font-size: 20px;
    font-family: 'Patua One', cursive;
    border: 2px solid rgba(255, 221, 153, 0.6);
    border-radius: 8px;
    background-color: rgba(255, 221, 153, 0.6);
    color: black;
}

.alert {
  color: red;
  font-weight: bold;
}